.firstpage {
    background-image: url("../puppy-and-kitten-animal-wallpaper-hd-dog-photos-puppies-pets-lovely-widescreen-windows-wallpapers-of-dogs-mac-1805x1015.jpeg");
    min-height: 100vh;
    /* min-width: 1024px; */
    /* background-size: 100vw; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}