.firstpage {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("../puppy-and-kitten-animal-wallpaper-hd-dog-photos-puppies-pets-lovely-widescreen-windows-wallpapers-of-dogs-mac-1805x1015.jpeg");
    min-height: 100vh;
    min-width: 100vw;
    /* background-size: 100vw; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.goodbye {
    position: relative;
    top: 40vh;
    left: 18vw;
    font-size: 3vw;
    color: #FFFFFF
}

.hello {
    position: relative;
    top: 40vh;
    left: 18vw;
    font-size: 3vw;
    color: #FFFFFF
}

.headertext {
    display: flex;
    position: absolute;
    left: 50vw;
    color: #FFFFFF;
}

.headertexts {
    padding: 2vw
}

.sidebar2 {
    display: none;
    position: absolute;
    left: 80vw;
    color: #FFFFFF;
}

/* .sidebar {
    display: none;
    position: fixed;
    width: 100vw;
    padding-left: 80vw;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
} */


/* Button {
    position: relative;
    top: 40vh;
    left: -29.5vw;
    font-size: 3vw;
    color: #FFFFFF;
    border : 2px;
    border-color: black;
    border-radius: 2px;
    background-color: blueviolet
} */

@media screen and (max-width: 1024px) {
    .headertext {
        display: none;
    }

    .sidebar2 {
        display: flex;
    }
}