#headertext {
    display: flex;
    position: fixed;
    left: 50vw;
    color: #000000;
}

.headertexts {
    padding: 2vw
}

@media screen and (max-width: 1024px) {
    .headertext {
        display: flex;
        position: absolute;
        left: 5vw;
        font-size: 2vw
    }
}